@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    background-color: white;
}
.navbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-right: 2vw;
}
.navbtn a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.navbtn a:hover {
    color: red;
}
#logo{
    margin-left: 2%;
    font-weight: bold;
    letter-spacing: 0.2vw;
    min-width: 10%;
    text-align: center;
}
#logo span{
    color: rgb(255, 32, 2);
}
#homemain{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
#homemain img{
   width: 40vw;
   height: 70vh; 
   margin-top: 10vh;
   margin-left: 12vw;
}
#krishnalila{
    margin-top: 25vh;
    margin-bottom: 4vh;
    font-size: 1.2rem;
    letter-spacing: 0.3vw;
    font-weight: bold;
    margin-left: 0;
    margin: ;
}
body{
    overflow-x: hidden;
}
#para{
    font-size: 0.9rem;
}
#more{
    margin-top: 4vh;
    background-color: green;
    border:5px solid green;
    border-radius: 10px;
    display: inline-block;
    color: white;
}
#more:hover {
    color: red;
    background-color: white;
    border: 5px solid white;
    cursor: pointer;
}
.navbar img{
    display: none;
}
#cross{
    display: none;
}
#secondnav{
    display: none;
}
@media (max-width:594px){
    #homemain img{
        width: 70vw;
        height: 70vh; 
        overflow-x: hidden;
        margin: 0s;
     }
     .nvbtn{
        overflow-x: hidden;
    }

}
@media (max-width:372px){
    #homemain img{
        width: 90vw;
        height: 70vh;
        overflow-x: hidden; 
        margin: 0;
     }
     body{
        overflow-x: hidden;
    }

}
@media (max-width:270px){
    #homemain img{
        width: 100vw;
        height: 70vh; 
        overflow-x: hidden;
        margin: 0;
     }
     body{
        overflow-x: hidden;
    }

}
@media(max-width:520px){
    .navbar .navbtn{
        display: none;
    }
    .navbar  img {
        display: block;
        margin-right: 10%;
    }
    #secondnav{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background: black;
        animation-name: animation;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    #secondnav a {
        text-decoration: none;
        color: white;
        margin-top: 10vh;
    }
    #secondnav a:hover{
        color: red;
    }
}
@keyframes animation {
    0%{left: -100vw;}
    100%{left: 0;}
}


